.invitation-container {
    background-color: #2F2F2F; /* Un gris claro */
    border-radius: 8px;
    color: white;
  }
  .custom-input {
    background-color: #2F2F2F !important;
    color: white;
    border: 1px solid #444444;
  }
  
  .custom-input::placeholder {
    color: #888888 !important;
  }

  .big-container {
    margin-top: 20px; /* Ajustar según sea necesario */
}

  .container {
    max-height: calc(100vh - 80px); /* Ajustar según sea necesario */
    overflow-y: auto;
    padding-bottom: 20px;
}
  
  