<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card p-4 building-container mt-4 " style="width: 100%; max-width: 800px;">
          <h3 class="text-center">Create new building</h3>
          <form (ngSubmit)="createBuilding()">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input id="name" [(ngModel)]="newBuilding.name" name="name" class="form-control custom-input" placeholder="name..." required>
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address:</label>
              <input id="address" [(ngModel)]="newBuilding.address" name="address" class="form-control custom-input" placeholder="address..." required>
            </div>

            <div class="mb-3">
              <label for="commonExpenses" class="form-label">Common expenses:</label>
              <input id="commonExpenses" type="number" [(ngModel)]="newBuilding.commonExpenses" name="commonExpenses" class="form-control custom-input" required>
            </div>

            <div *ngFor="let apartment of newBuilding.apartments; let i = index" class="card p-3 mb-3 apartment-container">
              <h4>Apartament {{ i + 1 }}</h4>

              <div class="mb-3">
                <label for="floor{{i}}" class="form-label">Floor:</label>
                <input type="number" id="floor{{i}}" [(ngModel)]="apartment.floor" name="floor{{i}}" class="form-control custom-input" required>
              </div>

              <div class="mb-3">
                <label for="number{{i}}" class="form-label">Number:</label>
                <input type="number" id="number{{i}}" [(ngModel)]="apartment.number" name="number{{i}}" class="form-control custom-input" required>
              </div>

              <div class="mb-3">
                <label for="rooms{{i}}" class="form-label">Rooms:</label>
                <input type="number" id="rooms{{i}}" [(ngModel)]="apartment.rooms" name="rooms{{i}}" class="form-control custom-input" required>
              </div>

              <div class="mb-3">
                <label for="bathrooms{{i}}" class="form-label">Bathrooms:</label>
                <input type="number" id="bathrooms{{i}}" [(ngModel)]="apartment.bathrooms" name="bathrooms{{i}}" class="form-control custom-input" required>
              </div>

              <div class="mb-3 form-check">
                <input id="hasTerrace{{i}}" type="checkbox" [(ngModel)]="apartment.hasTerrace" name="hasTerrace{{i}}" class="form-check-input">
                <label for="hasTerrace{{i}}" class="form-label">¿Has terrace?</label>
              </div>

              <h5>Owner</h5>
              <div class="mb-3">
                <label for="ownerName{{i}}" class="form-label">Name:</label>
                <input id="ownerName{{i}}" [(ngModel)]="apartment.owner.name" name="ownerName{{i}}" class="form-control custom-input" placeholder="owner name..." required>
              </div>

              <div class="mb-3">
                <label for="ownerLastName{{i}}" class="form-label">Last name:</label>
                <input id="ownerLastName{{i}}" [(ngModel)]="apartment.owner.lastName" name="ownerLastName{{i}}" class="form-control custom-input" placeholder="owner last name..." required>
              </div>

              <div class="mb-3">
                <label for="ownerEmail{{i}}" class="form-label">Email:</label>
                <input id="ownerEmail{{i}}" [(ngModel)]="apartment.owner.email" name="ownerEmail{{i}}" class="form-control custom-input" placeholder="owner email..." required>
              </div>

              <button type="button" class="btn btn-danger w-100 mt-3" (click)="removeApartment(i)">Delete apartment</button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
            <button type="button" class="btn custom-btn-red w-100 mb-3" (click)="addApartment()">Add Apartament</button>
            <button type="submit" class="btn custom-btn-red w-100 mb-3">Add building</button>
            <button type="button" class="btn btn-secondary w-100" (click)="cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
