<nav>
    <ul *ngIf="authService.isLoggedIn()">
        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/administrator">Crear administratores</a>
        </li>
        <li>
            <a routerLink="/create-invitation">Crear invitaciones</a>
        </li>
        <li>
            <a (click)="logout()">Logout</a>
        </li>
    </ul>
    <ul *ngIf="!authService.isLoggedIn()">
        <li>
            <a routerLink="/login" routerLinkActive="active">Iniciar sesion</a>
        </li>
        <li>
            <a routerLink="/invitations">Tengo una invitacion</a>
        </li>
    </ul>
</nav>
