<div class="container">
  <h2>Crear empresa de construccion</h2>
  <div>
    <label for="createName">Name:</label>
    <input type="text" id="createName" [(ngModel)]="newConstructionCompany.name">
  </div>
  <button (click)="createConstructionCompany()">Create</button>

  <h2>Actualizar empresa de construccion {{existingConstructionCompanyName}}</h2>
  <div>
    <label for="updateName">New Name:</label>
    <input type="text" id="updateName" [(ngModel)]="updateCompanyName.name">
  </div>
  <button (click)="updateConstructionCompanyName()">Update</button>
</div>
