<div>
    <h2>Tienes una invitacion?</h2>
    <p>Escribe el mail de tu invitación y una contraseña nueva</p>
    <form (ngSubmit)="acceptInvitation()">
        <div>
        <label for="mail">Email</label>
        <input type="email" id="mail" [(ngModel)]="mail" name="mail" required>
        </div>
        <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Aceptar invitacion</button>
        <div *ngIf="error">{{ error }}</div>
    </form>
</div>
  