.custom-input {
    background-color: #2F2F2F;
    color: white;
    border: 1px solid #4a4a4a;
}

.custom-input::placeholder {
    color: #b3b3b3;
}

.custom-btn-red {
    background-color: #e60000;
    border-color: #e60000;
    color: white;
}

.custom-btn-red:hover {
    background-color: #cc0000;
    border-color: #cc0000;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.building-container {
    background-color: #2F2F2F;
    border: none;
    color: white;
}

.card {
    border-radius: 8px;
}

h1, h2, .form-label {
    color: white;
    margin-bottom: 20px;
}

p {
    line-height: 8px;
}
