<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 category-container" style="width: 100%; max-width: 400px;">
    <h2>Crear Categoria</h2>
    <div class="mb-3">
      <label for="categoryName">Nombre:</label>
      <input type="text" id="categoryName" [(ngModel)]="newCategory.name" class="form-control custom-input"  placeholder="categoria..." required>
    </div>
    <button (click)="createCategory()" class="btn custom-btn-red w-100">Create</button>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
  </div>
</div>