<div class="welcome-container">
  <div class="w-100 d-flex justify-content-end">
    <span class="role-badge">Your role: {{ getRoleLabel(role!) }}</span>
  </div>
  <h1 class="welcome-title">Welcome {{ username }}!</h1>
  <p class="welcome-message">
    We are delighted to have you back on our platform. Here you will have access to all the necessary tools to manage your activities. Whether you are part of the administration, the maintenance team, or a construction company manager, you will find all the functions you need to carry out your work efficiently.
  </p>
  <p class="welcome-message">
    If you need help at any time, don't hesitate to contact our support team. Welcome back and thank you for being part of our community!
  </p>
</div>
<div class="image-container">
  <img src="assets/images/building-image.png" alt="Welcome Image">
</div>
