<div class="container">
    <h2>Service Requests</h2>
  
    <!-- Create Service Request Form -->
    
    <h3>Create Service Request</h3>
    <form (ngSubmit)="createServiceRequest()">
      
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description"  [(ngModel)]="description" name="description" required>
      </div>

      <div class="form-group">
        <label for="apartment">Apartmento:</label>
        <select class="form-control" id="apartment"  [(ngModel)]="apartmentId" name="apartment" required>
          <option *ngFor="let apartment of apartments" [ngValue]="apartment.id">{{ apartment.number }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="category">Categoria:</label>
        <select class="form-control" id="category"  [(ngModel)]="categoryId" name="category" required>
          <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  
    <h3>Filter Service Requests</h3>
    <div class="form-group">
      <label for="filter-category">Filter by Category:</label>
      <select class="form-control" id="filter-category" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">
        <option value="">All</option>
        <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
      </select>
    </div>

    <h3>Service Requests List</h3>
    <p>Aqui puede eliminar solicitudes de mantenimiento no aceptadas o asignarlas a su personal de mantenimiento</p>
    <ul>
      <li *ngFor="let request of serviceRequests">
        {{ request.description }} - {{ request.status }}
      </li>
    </ul>
  
  </div>
